body  {
  font-family: 'Varela Round', sans-serif;
  background: #F9FBE7;
}

/*header*/


h1 {
  font-size: 38px;
  padding-left: 40px;
}

#header-nav {
  background: #CDDC39;
  }


/*ourmenu*/
h2 {
  text-align: center;
  padding: 20px;
}


/*conteudo*/

p {
  text-align: left;
  font-size: 18px;
  padding-top: 10px;
  margin-top: 20px;
}

#chicken,#beef,#sushi  {
  background: #E0E0E0;
  border: solid 2px black;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  

}
